/*
font-family: 'Roboto', sans-serif;
font-weight: 400; -> Regular

font-family: 'Roboto', sans-serif;
font-weight: 700; -> Bold

font-family: 'Roboto', sans-serif;
font-weight: 900; -> Black
*/
h1 {
  padding: 0;
  margin: 1em 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.container-fluid {
  padding: 0;
}

.row {
  width: 100%;
}

.logo {
  display: block;
  margin: 0 0 0 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff;
}

.logo:hover {
  color: #ffffff;
}

.top-bar {
  position: fixed;
  width: 100%;
  padding: 1.63em;
  background: #3CBC48;
}

.top-nav {
  padding: 0;
  margin: 0.5em;
  float: right;
}

.top-item {
  display: inline;
  padding: 0;
  margin: 0 3em 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #ffffff;
}

.top-link {
  padding: 0.5em 2em;
  margin: 0;
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0);
}

.top-link:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.img-background {
  padding: 27.5em;
  background: url(../img/header01.png);
}

.input {
  width: 32%;
  padding: 0.6em 0.5em;
  margin: 0 0 0 20em;
  background: white;
  color: #292A2A;
  border: 2px solid #ffffff;
  border-radius: 0.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.submit-button {
  padding: 0.6em 2em 0.7em;
  margin: 0 0 0 0.3em;
  border: 2px solid #ffffff;
  border-radius: 0.8em;
}

.combo-box-1 {
  width: 26%;
  margin: 0 0 0 30em;
  color: #292A2A;
  border: 2px solid #292A2A;
  border-radius: 0.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.combo-box-2 {
  width: 26%;
  margin: 0;
  color: #292A2A;
  border: 2px solid #292A2A;
  border-radius: 0.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.eventos-section {
  padding: 0;
  margin: 3em 0;
}