//VARIABLES
$green: #3CBC48;
$black: #292A2A;
$white: #ffffff;

/*
font-family: 'Roboto', sans-serif;
font-weight: 400; -> Regular

font-family: 'Roboto', sans-serif;
font-weight: 700; -> Bold

font-family: 'Roboto', sans-serif;
font-weight: 900; -> Black
*/

h1{
    padding: 0;
    margin: 1.5em 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h3{
    margin: 1em 0 1em 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h4{
    margin: .1em 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: $white;
}

footer{
    width: 100%;
    padding: 1em;
    background: $green;
}

.container-fluid{
    padding: 0;
}

.row{
    width: 100%;
}

.logo{
    display: block;
    margin: 0 0 0 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    text-decoration: none; 
    color: $white;
}

.logo:hover{
    color: $white;
}

.top-bar{
    position: fixed;
    width: 100%;
    padding: 1em;
    background: $green
}

.top-nav{
    padding: 0;
    margin: .5em;
    float: right;
}

.top-item{
    display: inline;
    padding: 0;
    margin: 0 3em 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: $white;
}

.top-link{
    padding: 0.5em 2em;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
    color: $white;
    border: 2px solid rgba(0, 0, 0, 0);
}

.top-link:hover{
    color: $white;
    border: 2px solid $white;
}

.img-background{
    padding: 19em;
    margin: 0 0 0 -1em;
    background: url(../img/header01.png);
}

.input{
    width: 32%;
    padding: 0.6em .5em;
    margin: 0 0 0 18em;
    background: white;
    color: $black;
    border: 2px solid $white;
    border-radius: .8em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.submit-button{
    padding: 0.6em 2em 0.7em;
    margin: 0 0 0 0.3em;
    border: 2px solid $white;
    border-radius: 0.8em;
}

.combo-container{
    margin:0 32em;
}

.combo-box{
    width: 100%;
    margin: 0;
    color: $black;
    border: 2px solid $black;
    border-radius: .4em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.eventos-section{
    padding: 0;
    margin: 3em 0;
}

.img-container{
    margin: 4em 8em 0 13em;
}

.reservar-button{
    padding: 0.6em 2em 0.7em;
    margin: 0 0 3em 4.5em;
    background: $green;
    border: 2px solid $green;
}





